<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ url_for('home2')}}">Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home2')}}">Home <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{{ url_for('daglog')}}">Dag Overzicht <span class="sr-only">(current)</span></a>
      </li>
       </li>
        <li class="nav-item">
        <a class="nav-link" href="{{ url_for('maandlog')}}">Maand Overzicht <span class="sr-only">(current)</span></a>
      </li>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{{ url_for('clienten')}}">Clienten</a>
      </li>
    </ul>
            <a class="nav-link pull-right" href="{{ url_for('logout')}}">Log out <span class="sr-only">(current)</span></a>
  </div>
</nav>